.border-top-l{
  border-top-left-radius: 0px !important;
}
.btn-tab-navLink{
  padding: 7px;
  font-size: 12px !important;
  border-radius: 10px;
}
.btnRbl{
  border-bottom-left-radius: 0px !important;
}
.btnRbr{
  border-bottom-right-radius: 0px !important;
}
.card-table{
  font-size: 12px !important;
  .h-tablet{
    overflow: auto;
    min-height: 55vh;
  }
  .h-tablet-70{
    overflow: auto;
    min-height: 65vh;
  }
  .text-right{
    text-align: right;
  }
  .card-body{
    .btn-dwoArq{
      padding: 0px;
      background: none;
      outline: none;
      box-shadow: none;
      color: #111;
      border: none;
      font-size: 18px;
      margin-top: -2px;
      margin-bottom: -5px;
    }
    .input-group-search-tab{
      background: #fff;
      border-radius: 8px;
      margin-top: -6px;
      margin-bottom: -10px;
      input{
        border-radius: 8px;
        border: none;
        font-size: 13px;
        box-shadow: none;
        outline: none;
      }
      button{
        border-radius: 8px;
        border: none;
        font-size: 17px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        box-shadow: none;
        outline: none;
      }
    }
    h6{
      color: #111;
      opacity: 1 !important;
      margin-left: 10px;
    }
    .pagination{
      h6{
        font-size: 13px !important;
      }
      .btn-group{
        margin-top: -10px;
        margin-bottom: -10px;
        .btn{
          border: none !important;
          opacity: 0.4;
          &:hover{
            opacity: 1;
          }
          font-size: 12px !important;
          .icon-btn-pagination{
            font-size: 18px !important;
          }
        }
      }
    }
  }
  
  table{
    thead{
    background:#1c1e230c;
    color: rgba(17, 17, 17, 0.501);
    border-bottom: 0px solid #ffffff;
    }
    tbody{
      tr{
        border-bottom:  solid #1c1e230c !important;
      }
      td{
        .icon-marg{
          margin-top: -3px;
          margin-bottom: -9px;
          .hiOutlineEye-tab-link{
            color: #111;
            opacity: 0.5;
            font-size: 15px;
            margin-top: -10px;
            margin-bottom: -10px;
            &:hover{
              opacity: 1;
            }
          }
        }
        .btn-dropdown{
          padding: 0px;
          outline: none;
          box-shadow: none;
          border: none;
          font-size: 14px;
          background: none !important;
          color: rgba(17, 17, 17, 0.582) !important;
          margin-bottom: -5px;
          margin-top: -5px;
          &:hover{
            color: #111111 !important;
          }
        }
        .bg-success{
          background: #0abe6a48 !important;
          color: #198754;
          font-size: 8px;
        }
        .bg-danger{
          background: #dc354646 !important;
          color: #dc3545;
          font-size: 8px;
        }
        .avatar{
          font-size: 15px;
          margin-top: -1px;
          margin-bottom: -10px;
          font-size: 13px;
        }        
      }
    }
  }
  
}
.dropdown-toggle::after {
  display: none;
}